@import "tailwindcss";
@plugin "daisyui" {
  themes:
    corporate --default,
    business,
    luxury,
    night,
    dim;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "Fira Code", monospace;
}
